<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <a class="link-container" *ngFor="let page of pages" [routerLink]="page.path" (click)="sidenav.toggle()" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
      <span>{{page.viewText}}</span>
      <!-- <i class="material-icons" style="float:right;">menu</i> -->
      <i class="material-icons checked-icon">radio_button_checked</i>
      <i class="material-icons unchecked-icon">radio_button_unchecked</i>
    </a>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" class="mat-elevation-z6 app-toolbar">
      <mat-toolbar-row>
        <button mat-icon-button (click)="sidenav.toggle()">
          <i class="material-icons">menu</i>
        </button>
        <a *ngFor="let page of pages" [routerLink]="page.path" mat-button>{{page.viewText}}</a>
        <!-- <a routerLink="/ti-rads" mat-button>TI-RADS</a>
        <a routerLink="/liver" mat-button>LIVER</a> -->
        <!-- <span class="example-spacer"></span>
        <button mat-button>About</button>
        <button mat-button>Services</button>
        <button mat-button>Contact</button>-->
      </mat-toolbar-row>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
<mat-card class="text-center muted-text footer">
  <span>Made with</span>
  <button mat-icon-button color="accent">
    <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon>
  </button>
  <span> by </span>
  <a href="https://www.linkedin.com/in/ryan-willmore" class="muted-text link-on-hover" target="_blank">Ryan Willmore</a>
  <span> | </span>
  <span class="muted-text link-on-hover" (click)="showTermsDialog()">Terms</span>
  <span> | </span>
  <span class="muted-text link-on-hover" (click)="showReferencesDialog()">References</span>
</mat-card>
