<!-- <router-outlet></router-outlet> -->
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>ARC TI-RADS</span>
    <!-- <span class="example-spacer"></span>
    <button mat-button>About</button>
    <button mat-button>Services</button>
    <button mat-button>Contact</button> -->
  </mat-toolbar-row>
</mat-toolbar>
<mat-card>
  <div *ngFor="let characteristic of tiRad.characteristics" [ngClass]="{'hidden': characteristic.hidden }">
    <!-- <span>{{characteristic.description}}</span> -->

<!-- *ngIf="characteristic.type == 'checkbox'" -->

    <mat-selection-list *ngIf="characteristic.type == 'checkbox'">
      <mat-list-option (selectionChange)="addPoints($event, characteristic, option)" *ngFor="let option of characteristic.options">
        {{option.description}}: {{option.points}}
      </mat-list-option>
    </mat-selection-list>
    <mat-list *ngIf="characteristic.type == 'radio'">
        <mat-list-item *ngFor="let option of characteristic.options">
          <mat-radio-button [name]="characteristic.description" (change)="addPoints($event, characteristic, option)">{{option.description}}: {{option.points}}</mat-radio-button>
        </mat-list-item>
    </mat-list>

    <!-- <ul class="form-list">
      <li *ngFor="let option of characteristic.options">
        <mat-checkbox (ngModel)="option.points" (change)="addPoints($event, characteristic, option)">
          <span [ngClass]="{'hover-note': option.note}">{{option.description}}: {{option.points}}</span>
          <span *ngIf="option.note" class="hover-content" [innerHTML]="option.note"></span>
        </mat-checkbox> -->
        <!-- <label [ngClass]="{'hover-note': option.note}">{{option.description}}: {{option.points}}
          <span *ngIf="option.note" class="hover-content" [innerHTML]="option.note"></span>
          <input class="hidden" type="{{characteristic.type}}" name={{characteristic.description}} (ngModel)="option.points" (change)="addPoints($event, characteristic, option)">
        </label> -->
      <!-- </li>
    </ul> -->
  </div>
  <button mat-fab (click)="move(-1);" [disabled]="index == 0">
    <i class="material-icons">keyboard_arrow_left</i>
  </button>
  <button mat-fab (click)="move(1);" [disabled]="index == tiRad.characteristics.length-1">
    <i class="material-icons">keyboard_arrow_right</i>
  </button>
</mat-card>
<mat-card>
Points: {{pointsTotal}}
</mat-card>
