
// define 3 theme color
// mat-palette accepts $palette-name, main, lighter and darker variants
$my-theme-primary: mat-palette($mat-grey, 700, 300, 900);
$my-theme-accent: mat-palette($mat-cyan);
$my-theme-warn: mat-palette($mat-red, A700);

// create theme (use mat-dark-theme for themes with dark backgrounds)
$radiology-theme: mat-dark-theme(
    $my-theme-primary,
    $my-theme-accent,
    $my-theme-warn
);

html{
  background: black;
}

.accent-text{
  color: mat-color($my-theme-accent);
}

.mat-tooltip{
  font-size: 18px;
}
