/* You can add global styles to this file, and also import other style files */

// @import "~@angular/material/prebuilt-themes/indigo-pink.css";

@import '~@angular/material/theming';

// always include only once per project
@include mat-core();

// import our custom theme
@import 'radiology-theme.scss';

// specify theme class eg: <body class="my-theme"> ... </body>
.radiology-theme {
  // use our theme with angular-material-theme mixin
  @include angular-material-theme($radiology-theme);
}

html,
body{
  height: 100%;
}

mat-sidenav-container{
  min-height: calc(100% - 88px);
}

body{
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.footer{
  margin-top: 1px;
}

.spacer {
  flex: 1 1 auto;
}

.link-on-hover{
  text-decoration: none;

  &:hover{
    text-decoration: underline;
    cursor: pointer;
  }
}

.push-right{
  margin-right: 35px;
}

.muted-text{
  color: grey !important;
}

.text-center{
  text-align: center;
}

.app-toolbar {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 1000;
}

ul{
  overflow: hidden;
  padding-left: 20px;
}

$li-padding-top-bottom: 12px;

li{
  list-style-type: none;
  padding-top: $li-padding-top-bottom;
  padding-bottom: $li-padding-top-bottom;
}

.reset-button.mat-fab{
  position: absolute;
  right: 15px;
  top: 15px;
}

.tool-tip-indicator {
  i{
    vertical-align: middle;
    font-size: 18px;
    color: mat-color($my-theme-accent);
  }
}

button.copy-outcome{
  position: absolute;
  right: 15px;
  bottom: 15px;
}

i.note-dialog{
  vertical-align: middle;
  color: mat-color($my-theme-accent);
  cursor: pointer;
}
